body {
    background: linear-gradient(90deg, rgba(61, 21, 77, 1) 0%, rgba(50, 5, 65, 1) 48%, rgba(52, 15, 50, 1) 100%);
    padding: 0 20px;
    display: grid;
    grid-template-columns: 55% 30%;
}

.input {
    background: rgb(242, 240, 240);
    width: 111%;
    height: 290px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

.images {
    display: flex;
    flex-direction: row;
}

.display {
    min-width: 290px;
}

.input .images img {
    width: 290px;
    height: 290px;
    margin-right: 20px;
}

#canvas {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

#canvas2 {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.input select {
    margin-top: 50px;
    margin-right: 60px;
}

.buttons {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 12%;
}

.upload_btn {
    transform: translateX(-30px);
    width: 91px;
    margin-bottom: -40px;
}

.select_menu {
    transform: translateY(-5px);
    margin-bottom: -10px;
}

.select_mode{
    width: 125px;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 20px;
    transform: translateX(-30px);
}


.select_mode input{
    margin-top: 10px;
}

.select_mode label{
    margin-top: 10px;
    margin-left: 5px;
}


.clear_btn {
    margin-top: 20px;
    width: 110px;
    height: 30px;
    transform: translateX(-30px);
}

.output {
    margin-left: 50%;
    transform: translateY(150px);
    background: rgb(242, 240, 240);
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 0px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.output img {
    width: 100%;
    height: 80%;
}